{% extends "app/layout.html" %}

{% block content %}
  <style>

div.container4 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 100%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }
  </style>
<div class="row">
   <div class="col-lg-4 col-md-4 col-sm-12">
    <img align-item="center" src= {{ foto_url }} Width="377" Height="565"  class="img-fluid">
   </div>
   <div class="col-lg-8 col-md-8 col-sm-12 desc">
     
       <div class=container4>
    <h3><font align-item="center">{{ name }}</font></h3>
           </div>
    <p>
        Методы: {{ methods }}
    </p>
   </div>
  </div>
{% endblock %}